/*---------------------------------------------------------------------------------

 Theme Name:   bizmentors
 Theme URI:    
 Description:  Divi Child Theme for Bizmentors
 Author:       Ashley Tan
 Author URI:   
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/

/*---------------------------------------------------------
						MENU
---------------------------------------------------------*/
#top-menu {
	display: none;
}

@media (min-width: 980px) {
	#et_mobile_nav_menu {
    	display: block;
	}
}

/*---------------------------------------------------------
						HEADER
---------------------------------------------------------*/

/* Overlay */
.et_pb_row.et_pb_row_0 {
	margin-left: -90px;
	margin-top: -50px;
	min-width: 1400px;
	min-height: 710px;
}

/* Text */
.et_pb_column.et_pb_column_4_4.et_pb_column_0.et-last-child {
    margin-top: 50px;
}

/* Buttons */
.et_pb_row.et_pb_row_1.et_pb_row_4col {
    margin-top: -200px;
}

/*---------------------------------------------------------
						MAP
---------------------------------------------------------*/
path#IRL714 {
	fill: #98C93E!important;
}

path#IRL714:hover {
	fill-opacity: 0.5!important;
}

path#IRL713 {
	fill: #1D427B!important;
}

path#IRL713:hover {
	fill-opacity: 0.5!important;
}

/*---------------------------------------------------------
						FOOTER
---------------------------------------------------------*/

footer#main-footer {
	background-image: url("http://localhost/bizmentors/wp-content/uploads/2017/10/pexels-photo-e1508859185909.jpg");
}

div#media_image-3 {
	margin-bottom: 25px;
}

.footer-widget.last {
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
	background-color: black;
	opacity: 0.5;
	min-width: 1400px;
	margin-left: -200px;
	padding: 10px;
}